*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#05060a;
font-family:Inter;
color:#00ffd5;
overflow:hidden;
}

/* MATRIX */
canvas{
position:fixed;
top:0;
left:0;
z-index:-2;
}

/* BOOT */
#boot{
position:fixed;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
background:#05060a;
z-index:999;
}

#bootText{
color:#00ffd5;
font-family:Orbitron;
font-size:14px;
}

/* MAIN FIXED CENTER */
.app{
height:100vh;
width:100%;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
flex-direction:column;
}

.centerBox{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:10px;
}

/* TITLE */
.title{
font-family:Orbitron;
font-size:30px;
text-shadow:0 0 20px #00ffd5;
}

.subtitle{
opacity:0.6;
margin-bottom:10px;
}

/* SEARCH */
.search{
display:flex;
gap:10px;
}

input{
padding:12px;
background:#0a0f14;
border:1px solid #00ffd5;
color:#00ffd5;
outline:none;
}

button{
padding:12px 18px;
background:#00ffd5;
border:none;
cursor:pointer;
}

#status{
margin-top:10px;
opacity:0.7;
}

/* PROGRESS */
.barBox{
width:220px;
height:6px;
border:1px solid #00ffd5;
margin-top:10px;
}

#bar{
height:100%;
width:0%;
background:#00ffd5;
transition:0.2s;
}

/* RESULT */
#result{
margin-top:15px;
}

/* FOOTER FIXED BOTTOM */
.footer{
position:fixed;
bottom:10px;
font-size:12px;
opacity:0.6;
text-align:center;
width:100%;
  }
